In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('UsersBehavior.csv')

In [15]:
df

,userId,itemId,categoryId,behaviorType,timestamp,time,date,hour
0,1,2268318,2520377,pv,1511544070,2017-11-25 01:21:10,2017-11-25,1
1,1,2333346,2520771,pv,1511561733,2017-11-25 06:15:33,2017-11-25,6
2,1,2576651,149192,pv,1511572885,2017-11-25 09:21:25,2017-11-25,9
3,1,3830808,4181361,pv,1511593493,2017-11-25 15:04:53,2017-11-25,15
4,1,4365585,2520377,pv,1511596146,2017-11-25 15:49:06,2017-11-25,15
...,...,...,...,...,...,...,...,...
29565,1001485,2370876,3607361,pv,1512093492,2017-12-01 09:58:12,2017-12-01,9
29566,1001485,1580644,4756105,pv,1512169305,2017-12-02 07:01:45,2017-12-02,7
29567,1001485,4238786,2735466,pv,1512177421,2017-12-02 09:17:01,2017-12-02,9
29568,1001485,1607451,4498047,pv,1512177536,2017-12-02 09:18:56,2017-12-02,9
29569,1001485,1816816,4170419,pv,1512197170,2017-12-02 14:46:10,2017-12-02,14

In [16]:
print(df.head())

   userId   itemId  categoryId behaviorType   timestamp                 time  \
0       1  2268318     2520377           pv  1511544070  2017-11-25 01:21:10
1       1  2333346     2520771           pv  1511561733  2017-11-25 06:15:33
2       1  2576651      149192           pv  1511572885  2017-11-25 09:21:25
3       1  3830808     4181361           pv  1511593493  2017-11-25 15:04:53
4       1  4365585     2520377           pv  1511596146  2017-11-25 15:49:06

         date  hour
0  2017-11-25     1
1  2017-11-25     6
2  2017-11-25     9
3  2017-11-25    15
4  2017-11-25    15

In [17]:
# 将日期转换为日期格式并提取出日期
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date
df['date']

0        2017-11-25
1        2017-11-25
2        2017-11-25
3        2017-11-25
4        2017-11-25
            ...
29565    2017-12-01
29566    2017-12-02
29567    2017-12-02
29568    2017-12-02
29569    2017-12-02
Name: date, Length: 29570, dtype: object

In [18]:
df.loc[df['behaviorType'] != 'pv', 'behaviorType'] = 0
df.loc[df['behaviorType'] == 'pv', 'behaviorType'] = 1
df

,userId,itemId,categoryId,behaviorType,timestamp,time,date,hour
0,1,2268318,2520377,1,1511544070,2017-11-25 01:21:10,2017-11-25,1
1,1,2333346,2520771,1,1511561733,2017-11-25 06:15:33,2017-11-25,6
2,1,2576651,149192,1,1511572885,2017-11-25 09:21:25,2017-11-25,9
3,1,3830808,4181361,1,1511593493,2017-11-25 15:04:53,2017-11-25,15
4,1,4365585,2520377,1,1511596146,2017-11-25 15:49:06,2017-11-25,15
...,...,...,...,...,...,...,...,...
29565,1001485,2370876,3607361,1,1512093492,2017-12-01 09:58:12,2017-12-01,9
29566,1001485,1580644,4756105,1,1512169305,2017-12-02 07:01:45,2017-12-02,7
29567,1001485,4238786,2735466,1,1512177421,2017-12-02 09:17:01,2017-12-02,9
29568,1001485,1607451,4498047,1,1512177536,2017-12-02 09:18:56,2017-12-02,9
29569,1001485,1816816,4170419,1,1512197170,2017-12-02 14:46:10,2017-12-02,14

In [19]:
# 按日期分组并计算每日点击量
pv_per_day = df.groupby('date')['behaviorType'].sum()
pv_per_day

date
2017-11-25    2909
2017-11-26    3315
2017-11-27    2964
2017-11-28    3062
2017-11-29    3307
2017-11-30    3293
2017-12-01    3290
2017-12-02    4447
Name: behaviorType, dtype: int64

In [20]:
pv_per_day = pv_per_day.sort_values(ascending=False)
pv_per_day

date
2017-12-02    4447
2017-11-26    3315
2017-11-29    3307
2017-11-30    3293
2017-12-01    3290
2017-11-28    3062
2017-11-27    2964
2017-11-25    2909
Name: behaviorType, dtype: int64

In [21]:
pv_per_day.to_excel('223102张三.xlsx')